@import 'config/mixins';

.header{
    padding-top: 24px;
    @include justifyBeetwen; 
    &__cartBtn{
        width: 56px;
        height: 56px;
        @include centerAll;
        background: white;
        border-radius: 50%;
        margin-right: 20px;
    }
    &__buyBtn{
        font-family: "Jost";
        font-size: 15px;
        font-weight: 500;
        @include btnBlack;
        padding: 16px 30px;
        border-radius: 63px;
    }
    &__btns{
        @include centerAll;
    }
}